body{
    margin: 0;
    padding: 0;
    background-image:  url(../img/johannes-plenio-1vzLW-ihJaM-unsplash.jpg);
    background-repeat:no-repeat ;
    background-size: 100vw 100vh;


}

h3{
    color: whitesmoke;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 2vh;
}